<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

      <h4>Assembly on Linux</h4>
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>Subject (clickable)</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="http://cs.lmu.edu/~ray/notes/nasmtutorial/">NASM entry level tutorial</a>
            </td>
            <td>
              Contains lot's of x86_64 programs codes with explanation, covered ABI calling conventions.
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://pacman128.github.io/pcasm/">Paul Carter's book on Computer Science</a>
            </td>
            <td>
              Contains lot's of usefull information for beginners, such as explanation of computer architecture and assembly programming
            </td>
          </tr>
            <td>
              <a href="http://www.csee.umbc.edu/portal/help/nasm/nasm_64.shtml">Running NASM with gdb</a>
            </td>
            <td>
              Entry level tutorial for debugging of asm codes with gdb
            </td>
          <tr>
          </tr>
        </tbody>
      </table>
      <div>&nbsp;</div>

      <!--
      <h4>C++ on Linux</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Link</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr class="info">
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div>&nbsp;</div>
      -->

      <div id="disqus_thread"></div>
      <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
  this.page.url = "https://asmund-hvalman.github.io";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "link_catalog"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//asmund-hvalman-github-io-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
