<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

      <h2>Here is described the list of usefull links by topic</h2>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>Assembly on linux</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Link</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr class="info">
            <td>http://asm.sourceforge.net/</td>
            <td>Old site that contains usefull tutorials and links</td>
          </tr>
        </tbody>
      </table>
      <div>&nbsp;</div>

      <h4>c++ on linux</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Link</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr class="info">
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div>&nbsp;</div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
